{% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>

                <div class="modal-body">

                    <h2>{{ post.title }}</h2>

                    <p class="item-intro text-muted"> {{ post.subheading }} </p>

                    <p>{{ post.description }}</p>

                    {% for item in post.images-array %}
                    <div class="col-sm-4">
                        <img class="img-responsive" src="img/portfolio/{{ item.image }}" alt="{{ item.alt }}">
                    </div>
                    {% endfor %}

                    <ul class="list-inline">
                        <li>Date: July 2014</li>
                        <li>Location: {{ post.location }} </li>
                        <li>Category: {{ post.category }} </li>
                    </ul>

                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>

            </div>
        </div>
    </div>
{% endfor %}
