<!-- News Section -->
<section id="news">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">News</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <!-- New Pictures Section -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <a class="news-item d-block mx-auto" href="#newsModal1" data-toggle="modal">
                    <img class="img-fluid" src="path/to/your/image1.jpg" alt="Image 1">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a class="news-item d-block mx-auto" href="#newsModal2" data-toggle="modal">
                    <img class="img-fluid" src="path/to/your/image2.jpg" alt="Image 2">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a class="news-item d-block mx-auto" href="#newsModal3" data-toggle="modal">
                    <img class="img-fluid" src="path/to/your/image3.jpg" alt="Image 3">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<div class="news-modal modal fade" id="newsModal1" tabindex="-1" role="dialog" aria-labelledby="newsModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="news-modal-title text-secondary text-uppercase mb-0" id="newsModal1Label">Image 1 Title</h2>
                            <hr class="star-dark mb-5">
                            <img class="img-fluid mb-5" src="path/to/your/image1.jpg" alt="Image 1">
                            <p class="mb-5">Description for Image 1.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-modal modal fade" id="newsModal2" tabindex="-1" role="dialog" aria-labelledby="newsModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="news-modal-title text-secondary text-uppercase mb-0" id="newsModal2Label">Image 2 Title</h2>
                            <hr class="star-dark mb-5">
                            <img class="img-fluid mb-5" src="path/to/your/image2.jpg" alt="Image 2">
                            <p class="mb-5">Description for Image 2.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-modal modal fade" id="newsModal3" tabindex="-1" role="dialog" aria-labelledby="newsModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="news-modal-title text-secondary text-uppercase mb-0" id="newsModal3Label">Image 3 Title</h2>
                            <hr class="star-dark mb-5">
                            <img class="img-fluid mb-5" src="path/to/your/image3.jpg" alt="Image 3">
                            <p class="mb-5">Description for Image 3.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
