<!-- News Section -->
<section id="news">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">News</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <a class="news-item d-block mx-auto" href="path/to/your/image1.jpg" data-lightbox="news-gallery" data-title="Image 1 Title">
                    <img class="img-fluid" src="img/news/AA.png" alt="Image 1">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a class="news-item d-block mx-auto" href="path/to/your/image2.jpg" data-lightbox="news-gallery" data-title="Image 2 Title">
                    <img class="img-fluid" src="img/news/iha.png" alt="Image 2">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a class="news-item d-block mx-auto" href="path/to/your/image3.jpg" data-lightbox="news-gallery" data-title="Image 3 Title">
                    <img class="img-fluid" src="img/news/sdk.png" alt="Image 3">
                </a>
            </div>
        </div>
    </div>
</section>
